<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="" class="navbar-brand d-flex align-items-center px-3 px-lg-3">
        <h1 class="m-0">SIM Green Hearts</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <AuthLinks />
    </div>
</nav>
<!-- Navbar End -->
