<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="" class="navbar-brand d-flex align-items-center px-3 px-lg-3">
        <h1 class="m-0">SIM Green Hearts</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="" class="nav-item nav-link visually-hidden">Home</a>
            <a href="" class="nav-item nav-link">Inicio</a>
            <a href="fetchdata" class="nav-item nav-link">Eventos</a>
            <a href="counter" class="nav-item nav-link">Reportes</a>
            <a href="counter" class="nav-item nav-link">Dispositivos</a>
        </div>
        <a href="login" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">Login<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->
