@page "/reports"

@inject IRepository repository
@inject NavigationManager navigationManager



<div class="container text-center mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-1">Oe</h1>
            <h1 class="mb-4">Reportes En Construcción</h1>
            <p class="mb-4">Lo siento, Esta pagina esta en construcción, no dio el tiempo para tanto</p>
            <a class="btn btn-primary py-3 px-4" href="">Ir al inicio</a>
        </div>
    </div>
</div>



@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout!.Title = "Reportes";
        Layout!.Breadcrumbs = new List<string>() { "Inicio", "Páginas", "Reportes"};
    }
}
